.erreur{
    color: red;
    font-style: italic;
    display: block;
    margin-top: 5px;
}

body{
    background-image: url(espace.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

label{
    color: white;
    font-weight: bold;
}

input{
    margin-bottom: 10px;
    border: none;
    background: none;
    border-bottom: 1px solid white;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: bold;
}

.formShape{
    max-width: 30%;
    margin-left: 10%;
    margin-bottom: 20px;
    padding: 1%;
    padding-bottom: 2%;
    border: 1px solid black;
    text-align: center;
    border-radius: 5%;
    width: 100%;
}

h1{
    color: white;
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 13%;
    margin-top: 5%;
}

/*Responsive Mobile */
@media only screen and (max-width:600px)
{
    body{
        background-position: center center;
    }
}

/* Responsive Tablette*/

@media only screen and (min-width:601px) and (max-width:768px)
{
    body{
        background-position: center center;
    }
}