.erreur{
    color: red;
    font-style: italic;
    display: block;
    margin-top: 5px;
}

body{
    background-image: url(espace.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

label{
    color: white;
}

input{
    margin-bottom: 5px;
}

.formShape{
    background-image: url(trouNoir.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 30%;
    margin-left: 10%;
    margin-bottom: 10%;
    padding: 1%;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    border-radius: 5%;
}

h1{
    color: white;
    margin-left: 20%;
    margin-top: 10%;
    font-size: 40px;
}